

/* styling for cards  */

.card:hover{


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



    margin: 1%;


    margin: auto;


    border-radius: 20px;


    margin-bottom: 3%;


    border-color: rgb(244, 246, 244);


    background-color: rgba(252, 252, 252, 0.849);

    size: 200px;
   
}


/* style profile links */
#profileLinks {


    display: flex;


    justify-content: end;


    margin-top: 2%;
}



/* main element height set to 100% for background image */
main,html{

    height: 100%;
}


/* logoImage styling */
#logoImage {


    margin-left: 45%;
    
    
}



/* body element styling for background Image*/
body {


    background-image: url("/images/recipeCardTarts.png");


    background-size: cover;


    background-attachment: fixed;


    background-position: center;


    background-repeat: no-repeat;
    /* background-blend-mode:; */

}



/* style hero section  */
#heroSection {

    display: inline-flex;

    padding: 8%;


    flex-wrap: wrap;


    text-align: left;


    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;


    font-size: 30px;


    font-style: oblique;


    font-weight: bolder;
    
}


/* styling for a paragraphs elements */
p {
    display: flex;


    flex-wrap: nowrap;


    text-align: center;


    align-content: center;


    justify-content: center;

    font-size: 100%;


    color: black;


    font-style: oblique;


    font-weight: 100%;


    font-family: 'Times New Roman', Times, serif;
}




/* styling for API data */
#usersPostCard {


    border: 0px #737bb9;


    padding: 2%;


    border-radius: 1px;

}





#profileButton {


    background-color: rgb(159, 210, 38);
    /* Set the background color to pink */
    padding: 7px 17px;
    /* Adjust the padding to make it small */
    font-size: 17px;
    /* Adjust the font size to make it small */
    border: none;
    /* Remove the default button border */
    color: white;
    /* Set the text color to white for better visibility */
}


#quotecard {

    background-color: rgba(128, 159, 71, 0.825);
}

.blockquote-footer{



    color:black;



    font-size: larger;
    
}


/* @media (max-width: 480px) {
    img.fluff {
        display: none;
    }
} */


#quoteCard,
#bloggerRecipeStarter {


    display: flex;


    flex-wrap: nowrap;



}

#bloggerRecipeStarter,#bloggerRecipeStarter1,#bloggerRecipeStarter2 {



    direction: rtl;


    justify-content: space;



    margin-top: 2%;


    align-content: flex-start;

}

#blogContent{



    direction: ltr;


    justify-content: space;


    margin-top: 2%;


    align-content: flex-start;


    display: flex;


    flex-wrap: nowrap;

}

#bloggerRecipe,#bloggerRecipe1{

    direction: ltr;


}




#quoteCardHome {

    
    direction: ltr;

}



